[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	ui = auto
[init]
	defaultBranch = main
[fetch]
	prune = true
[help]
	autocorrect = 10
[push]
	default = current
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
[pull]
	rebase = false
[init]
	defaultBranch = main
[user]
	name = Mohamed Ibrahim
	email = mohamed.ibr1994@gmail.com
[alias]
	s = status --short --branch
	undo-commit = reset --soft HEAD^
	co = checkout
	cob = checkout -b
