# System
alias ls="ls --color=auto"
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias sfr=". ${ZDOTDIR}/.zshrc"
alias autoremove="sudo pacman -Rns $(pacman -Qtdq)"
alias vim="nvim"
if [ "$(command -v exa)" ]; then
    unalias -m 'll'
    unalias -m 'l'
    unalias -m 'la'
    unalias -m 'ls'
    alias ls='exa -G  --color auto --icons -a -s type'
    alias ll='exa -l --color always --icons -a -s type'
fi

# Git
alias gs="git status"
alias ga="git add "
alias gaa="git add ."
alias gc="git commit -m "
alias gp="git push "
alias gpl="git pull "
alias wip="git add . && git commit -m wip"
alias nah="git reset --hard"

# PHP
alias pu="vendor/bin/phpunit "
alias puf="vendor/bin/phpunit --filter "

# Composer
alias cr="composer require "
alias cu="composer update "
alias ci="composer install"
alias cgr="composer global require "
alias cgu="composer global update "

# Laravel
alias art="artisan"
alias tinker="artisan tinker"
alias migrate="artisan migrate"
alias test="artisan test"
alias mfs="artisan migrate:fresh --seed"

# Android
alias rns="npx react-native start"
alias rna="npx react-native run-android"
